<?xml version="1.0"?>
<config>
    <modules>
        <CoinJar_CJCheckout>
            <version>0.1.0</version>
        </CoinJar_CJCheckout>
    </modules>
    <global>
        <blocks>
            <cjcheckout>
                <class>CoinJar_CJCheckout_Block</class>
            </cjcheckout>
        </blocks>
        <models>
            <cjcheckout>
                <class>CoinJar_CJCheckout_Model</class>
            </cjcheckout>
        </models>
        <helpers>
            <cjcheckout>
                <class>CoinJar_CJCheckout_Helper</class>
            </cjcheckout>
        </helpers>
        <payment>
            <groups>
                <cjcheckout>CJCheckout</cjcheckout>
            </groups>
        </payment>
    </global>
    <default>
        <payment>
            <cjcheckout_standard>
                <model>cjcheckout/standard</model>
                <group>cjcheckout</group>
                <active>1</active>
                <title>Bitcoin (via CoinJar)</title>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </cjcheckout_standard>
        </payment>
        <payment_services>
            <coinjar>
                <displaynotice>1</displaynotice>
                <ipn>1</ipn>
                <debuglog>0</debuglog>
                <enableipndebug>0</enableipndebug>
            </coinjar>
        </payment_services>
        <cjcheckout>
            <settings>
                <activationstatus>0</activationstatus>
            </settings>
        </cjcheckout>
    </default>
    <frontend>
        <secure_url>
            <cjcheckout_processing>/cjcheckout/standard</cjcheckout_processing>
        </secure_url>
        <routers>
            <cjcheckout>
                <use>standard</use>
                <args>
                    <module>CoinJar_CJCheckout</module>
                    <frontName>cjcheckout</frontName>
                </args>
            </cjcheckout>
        </routers>
        <layout>
            <updates>
                <coinjar>
                    <file>coinjar.xml</file>
                </coinjar>
            </updates>
        </layout>
    </frontend>
</config>
